# Toronto Suburb Clusters

## Part 1
Instruction: Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

### Import relevant packages

In [1]:
import requests
import lxml.html as lh
import pandas as pd

### Scrape the website

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

## Convert table to pandas dataframe

1. Parse the table header

In [4]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal code
"
2:"Borough
"
3:"Neighborhood
"

2. Creating Pandas DataFrame

Each header is appended to a tuple along with an empty list

In [5]:
#Since our first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

3. Check length of each column

In [6]:
[len(C) for (title,C) in col]

[181, 181, 181]

4. Create dataframe

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head()

  postal_code             borough                  neighborhood
0       M1A\n      Not assigned\n                            \n
1       M2A\n      Not assigned\n                            \n
2       M3A\n        North York\n                   Parkwoods\n
3       M4A\n        North York\n            Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

5. Remove \n at end of each cell

In [9]:
df['postal_code'] = df['postal_code'].str.replace(r'\n', '')
df['borough'] = df['borough'].str.replace(r'\n', '')
df['neighborhood'] = df['neighborhood'].str.replace(r'\n', '')
df.head()

  postal_code           borough                neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

6. Remove not assigned postal codes.

Also removing unrequired row at end and PO boxes

In [10]:
df = df[df.borough != 'Not assigned']
df = df[df.borough != 'Canadian postal codes']
df = df[df.neighborhood != 'Stn A PO Boxes']
df = df[df.neighborhood != 'Business reply mail Processing CentrE']
df['neighborhood'] = df['neighborhood'].str.replace(r'/', ',')
df['neighborhood'] = df['neighborhood'].str.replace(r' ,', ',')
df.reset_index(inplace = True, drop = True)
df.head()

  postal_code           borough                                 neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

7. Make non-assigned neighborhood the same as borough

In [11]:
#df.sort_values('neighborhood', na_position = 'first')
#df.iloc[0:30,]
#df.iloc[30:70,]
#df.iloc[70:102,]
df.describe()

       postal_code     borough neighborhood
count          101         101          101
unique         101          10           96
top            M9B  North York    Downsview
freq             1          24            4

Investigation shows no non-assigned neighborhoods

8. Use the .shape method to print the number of rows of your dataframe

In [12]:
df.head(15)

,postal_code,borough,neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

In [13]:
df.shape

(101, 3)

## Part 2

Instruction: Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

### Attempt geo-coder approach

In [14]:
!pip install geocoder

Requirement already satisfied: geocoder in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: six in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: ratelim in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: requests in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (2.21.0)
Requirement already satisfied: future in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: decorator in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\nigel.green\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2.8)

### Create function to test

In [31]:
import geocoder # import geocoder

#Function to get coordinates
def coord_finder(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    attempts = 0
    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
      lat_lng_coords = g.latlng
      attempts += 1
      print(attempts)
      if attempts >=20: 
        break
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude, longitude

#test
a = []
a = coord_finder('M4C')
a

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

TypeError: 'NoneType' object is not subscriptable

### Geocoder didn't work so using csv file

In [38]:
import pandas as pd
import requests

coords=pd.read_csv("Geospatial_Coordinates.csv")

In [48]:
coords.columns = coords.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
coords.head()

  postal_code   latitude  longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [51]:
coords.describe()

         latitude   longitude
count  103.000000  103.000000
mean    43.704608  -79.397153
std      0.052463    0.097146
min     43.602414  -79.615819
25%     43.660567  -79.464763
50%     43.696948  -79.388790
75%     43.745320  -79.340923
max     43.836125  -79.160497

In [49]:
coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
postal_code    103 non-null object
latitude       103 non-null float64
longitude      103 non-null float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

### Merge coordinates into dataframe

In [56]:
df2 = df.merge(coords, on = 'postal_code')

In [59]:
df2.head(15)

,postal_code,borough,neighborhood,latitude,longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
13,M3C,North York,Don Mills,43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389